---
layout: page
type: article
---
<article class="layout--article" itemscope itemtype="https://schema.org/Article">
  <meta itemprop="headline" content="{{ page.title | escape }}">
  <meta itemprop="author" content="{{ site.author.name }}">
  <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
  <div class="article__content" itemprop="articleBody">{{ content }}</div>
  {% if page.sharing %}<section class="article__sharing" aria-label="Share article" lang="en">{% include sharing.html %}</section>{% endif %}
  {% include article-footer.html %}
  {% include article-section-navigator.html %}
</article>
