---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body {% if site.analytics.provider == 'google' %}data-analytics-id="{{ site.analytics.google.tracking_id }}"{% endif %}>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script src="{{ '/assets/js/site.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/discovery.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/consent.js' | relative_url }}" defer></script>
  </body>
</html>
